<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ListStudents</display-name>
    <servlet-name>ListStudents</servlet-name>
    <servlet-class>spec.ListStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStudents</servlet-name>
    <url-pattern>/ListStudents</url-pattern>
  </servlet-mapping>
  <display-name>StudentManagementSrevlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FindStudent</display-name>
    <servlet-name>FindStudent</servlet-name>
    <servlet-class>spec.FindStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindStudent</servlet-name>
    <url-pattern>/FindStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudent</display-name>
    <servlet-name>EditStudent</servlet-name>
    <servlet-class>spec.EditStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudent</servlet-name>
    <url-pattern>/EditStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveStudent</display-name>
    <servlet-name>RemoveStudent</servlet-name>
    <servlet-class>spec.RemoveStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveStudent</servlet-name>
    <url-pattern>/RemoveStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>spec.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
</web-app>